In [1]:

import pandas as pd

df = pd.read_csv('pokemon_data.csv')

# print(df.head(5)) - look at just the top of the data (.tail for the bottom)

# df_xlsx = pd.read_excel('pokemon_data.xlsx') - loading an excel file
# print(df_xlsx.head(3))

# df = pd.read_csv('pokemon_data.txt', delimiter='\t') - loading a text file with tab specified delimiter

df['HP'] #shows the 'HP' column

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

In [2]:
#### Read headers of the columns
#print(df.columns)

## Read each column or multiple columns
#print(df[['Name', 'Type 1', 'HP']]), can also specify a range like print(df['Name'][0:5])

## Read Each Row
#print(df.iloc[0:4]), iloc is integer location

#Iterating through each row
# for index, row in df.iterrows():
#     print(index, row['Name'])

#Find all of the specific values in a row or column
#df.loc[df['Type 1'] == "Grass"]

#df.describe() - gives you all the metrics of the data, quickly

## Read a specific location (R,C)
#print(df.iloc[2,1])

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [3]:
df.sort_values(['Type 1', 'HP'], ascending=[1,0]) #type 1 is going a-z (ascending = true) and HP is descending (ascending = false, ie 0)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [5]:
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
#make a new column that sums all of the stats

# df = df.drop(columns=['Total'])
# delete a column, remove it from memory

df['Total'] = df.iloc[:, 4:10].sum(axis=1)
#make a new column from the sum in all rows (:,) of the columns index [4:10] in a new column (axis=1)

cols = list(df.columns)
#get the columns as a list
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]
#re-arrange the order of the columns, [0:4] then the final column, then [4:12]
#note the square brackets around cols[-1]; it is a string, not a list without the additional square brackets

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
# df.to_csv('modified.csv', index=False)

#df.to_excel('modified.xlsx', index=False)

#df.to_csv('modified.txt', index=False, sep='\t')
#saving it updated to a csv/excel/txt without additional indexes (index = False)

In [8]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
#filtering for grass type, poison type and HP greater than 70
# or = |
#assigning this filter to a new df, i.e. new_df

new_df.reset_index(drop=True, inplace=True)
#resets the index values, drop the old index and change the value within the new_df as opposed to creating a new df with these parameters

new_df

new_df.to_csv('filtered.csv')
#send the new df to a csv
print(new_df)

     #                   Name Type 1  Type 2  Total   HP  Attack  Defense  \
0    3               Venusaur  Grass  Poison    525   80      82       83
1    3  VenusaurMega Venusaur  Grass  Poison    625   80     100      123
2   45              Vileplume  Grass  Poison    490   75      80       85
3   71             Victreebel  Grass  Poison    490   80     105       65
4  591              Amoonguss  Grass  Poison    464  114      85       70

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0      100      100     80           1      False
1      122      120     80           1      False
2      110       90     50           1      False
3      100       70     70           1      False
4       85       80     30           5      False

In [11]:
df.loc[df['Name'].str.contains('Mega')]
# ~ = not
print(df)

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]

In [13]:
import re
#df.loc[df['Type 1'].str.contains('Fire|Grass' , regex=True)]
#filters for Type 1 contains Fire or Grass with regular expression
#flags=re.I ignore capitalization

df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I ,regex=True)]
#filters for Names that lead with pi then have any combination of one or more letters from a-z
# * = zero or more
# ^ = start of line

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [17]:
#df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
#change the Type 1 value 'Flamer' to 'Fire'

#df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']
# if the Total is greater than 500, then Generation and Legendary values for those rows become Test 1 and Test 2

#df = pd.read_csv('modified.csv')

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
df = pd.read_csv('modified.csv')

df['count'] = 1

df.groupby(['Type 1', 'Type 2']).count()['count']